@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  font-family: Inter !important;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
