#app {
  height: 100%;
}
html,
body {
  position: relative;
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif !important;

  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.drop li {
  padding: 10px;
  margin-left: 10px;
}

.side div {
  padding-top: 20px;
  border-bottom: 0.5px solid rgb(131, 122, 122);
}
